<p>
  Tower te permite pagar on line 7x24 con un sólo CLICK! Aboná tu abono mensual
desde la comodidad de tu hogar o desde cualquier lugar donde te encuentres.
</p>
<p>
  CLICK de PAGO te permite pagar con Tarjetas de Crédito o Débito de cualquier banco y de
casi todas las marcas o a través de DEBIN, débito automático online directo sobre tu cuenta
bancaria.
</p>
<p style="line-height: 35px; margin-left: 35px;">
  1. Hacé CLIK en el link Aquí debajo<br />
  2. Cargá el concepto a abonar<br />
  3. Seleccioná y cargá el medio de pago<br />
  4. Confirmá el pago<br />
  5. Y listo! Recibirás un e-mail con tu comprobante<br />
</p>
<p style="text-align: center; margin-top: 20px;">
  <a class="button-primary" href="#" onclick="openPaymentLink()">
    CLICK PARA PAGAR!
  </a>
</p>